// showing default values
$accentColor = #58B2DC // SORA
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

$appBgColor = #000000

$lightColor = #E9E4DD
$darkColor = #1A3244

@require './var.styl'